.title{
    text-align: center;
    color: teal;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 100px 0 0 0px;
}
.title h2{
    font-size: 32px;
    text-transform: capitalize;
}
@media(max-width:500px){
    .title{
        margin-top: 15px;
    }
    .title h1{
    font-size: 20px;

}
    .title h2{
    font-size: 16px;
    text-transform: capitalize;
}
}