.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
   color: #000f38;
   font-size: 25px;
   font-weight: 500;
   display: flex;
   align-items: center;
   margin-bottom: 20px;

}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    line-height: 1.3;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact-col button img{
      width: 25px;
}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background:#ebecfe ;
    padding:15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;

}
.contact-col span{
    display: block;
    margin: 20px 0;
}

@media(max-width:900px){
    .contact{
        display: block;
    }
    .contact-col{
        padding: 10px;
    }
    .contact-col h3{
        font-size: 18px;
    }
    .contact-col h3 img{
        width: 28px;
    }
    .contact-col p{
        font-size: 14px;
    }
    .contact-col ul li img{
    width: 16px;
    margin-right: 10px;
}
 .contact-col ul li{
    font-size: 12px;
}
}
@media(max-width:490px){
    .contact-col h3{
        font-size: 16px;
        font-weight: 700;
    }
    .contact-col h3 img{
        width: 18px;
    }
    .contact-col p{
        font-size: 12px;
    }
       .contact{
        margin-top: 10px;
       } 
    .contact-col p,.contact-col ul li{
    font-size: 14px;
    line-height: 1.3;
}   
}
