nav{
    width: 100%;
    padding: 4px 0;
    /* color: #fff; */
    /* background: #333; */
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
nav:hover{
    color:teal;
}

.logo{
    width: 100px;
    padding: 10px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;  
    cursor: pointer;
}
.dark-nav{
    background: rgb(31, 30, 30);
    transition: 3s;
    color: white;
}

.menu-icon{
    display: none;
}

@media(max-width:900px){
    .logo{
        width:70px;
    }
    nav ul li{
      margin: 2px 10px;
    }
}
@media(max-width:840px){
    nav ul{
        position: fixed;
        top: 0;
        right: 5px;
        bottom: 0;
        background: teal;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.4s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
        color: black;
    }
    .logo{
    width: 90px;
    align-items: center;
    margin-left: 200px;
}
.menu-icon{
    display: block;
    width: 35px;
    cursor: pointer;
}
.hide-menu{
    right: -200px;
}
}
@media(max-width:500px){
    .logo{
        margin-left: 15px;
    }
}