.designers{
    margin: 80px auto;
    width: 90%;
    text-align: center;
    margin-top: 25px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 8px;
}