.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid teal; */
    padding: 15px 0;
    margin-left: 30px;
    margin-right: 30px;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

@media(max-width:600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
    .footer ul li,p{
        font-size: 14px;
    }
}